@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/fonts/satoshi/css/satoshi.css';

:root {
  --font-satoshi: 'Satoshi-Variable', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-satoshi);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #111;
}

button, input, textarea {
  font-family: inherit;
}

code {
  font-family: 'Satoshi-Regular', monospace;
}

